html,
body {
  margin: 0;
  padding: 0;
}

.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.saira {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  height: 90px;
  width: 100vw;
  > .brand {
    width: 20%;
    > img {
      height: 90px;
    }
  }
  > nav {
    width: 50%;
  }
  > .icons {
    width: 10%;
    > img {
      width: 24px;
      height: 25px;
    }
  }
  > .btn {
    width: 20%;
    > button {
      width: 130px;
      height: 50px;
    }
  }
}
#hero-section {
  height: 700px;
}
.left-container {
  width: 50%;
}
.right-container {
  width: 50%;
}
.search-bar {
  width: 480px;
  height: 70px;
  background-color: White;
  > button {
    height: 50px;
    width: 120px;
  }
}
